<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fsadfa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>爱厨艺 copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>爱厨艺.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2D9D5771C1125D0004C1D36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F07D0D1C1E628000C42392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F07D2B1C1E62E900C42392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F755C41C252F2000D7C3A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
